
			#img1 {
					float: left;
					margin-right: 10px;
                    width: 300px;
                    height: 200px;

			}
			#img2 {
					float: right;
					margin-right: 10px;
                    width: 300px;
                    height: 200px;

			}
			p {
				clear: both;
			}
		