p{
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: xx-small; */
    font-stretch: condensed;

}

body{
    background-color: rgb(00, 00, 00);
}

h1{
    color: aquamarine;
}