body{
    background-color: beige;
    /* it is for bg color */
    background-image: url(/images/image2.jpg);
    /* it is for linking image */

    
     background-position:  top left;
    
     background-size: 20%;
     background-repeat: no-repeat;

     background-attachment:scroll;

     
    
}

p{
    font-weight: 600;
}