table ,th,td{
    border: 2px solid greenyellow;
    border-collapse: separate;
    border-spacing: 5px 10px ;
    caption-side: bottom;
    empty-cells: hide;
    table-layout: fixed;
    padding: 30px;
}