p{
    color: bisque;
    text-align:start ;
    text-decoration: underline;
    direction: ltr;
    letter-spacing: 5px;

}

body{
    background-color: rgb(00, 00, 00);
}

h1{
    
    color: aqua;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:  rgb(28, 149, 183);
}