
/* It specifies the shadow effect added to text. We can add more than one shadow to the text, separated by comma. 
Syntax: -  text-shadow: h-shadow v-shadow blur-radius color
h-shadow - The position of the horizontal shadow. Negative values are allowed.
v-shadow - The position of the vertical shadow. Negative values are allowed.
blur-radius - The blur radius. Default value is 0
color – The color of the shadow
none - No shadow
h1{text-shadow: 2px 2px 5px red;}
h2{text-shadow: 2px 2px 5px red, 5px 5px 8px blue;}
 */
p{
    color: bisque;
    text-align:start ;
    text-decoration: underline;
    direction: ltr;
    /* letter-spacing: 5px; */
    /* line-height: 20px; */
    text-indent: 100px;

}

body{
    background-color: rgb(00, 00, 00);
}

h1{
    
    color: aqua;
    text-align: center;
    /* text-decoration: underline; */
    text-decoration-color:  rgb(28, 149, 183);
    text-shadow: 3px 1px 2px #dc8410;
}